Makefile
Makefile.in
*.o
/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/etr_config.h
/etr_config.h.in
/install-sh
/missing
/src/.deps/
/stamp-h1
/src/etr
